main p {
    font-size: 0.9em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: "";
}

/***********************************/
/* ----- CTA SECTION (1) ------ */
/*********************************/

main>section:first-of-type {
    padding: 7em 0 3em 1em;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, max-content);
    /* display: flex;
  flex-direction: column;
  align-items: start; */
    gap: 0.7em;
}


main>section:first-of-type h1 {
    text-align: left;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    opacity: 0;
    animation: fadeUp .8s ease-out forwards;
}

main>section:first-of-type p {
    grid-row: 2 / 3;
    grid-column: 1/3;
    opacity: 0;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: 0.15s;
}

main>section:first-of-type a {
    margin-top: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 0.9em;
    border-radius: 2em;
    transition: background 0.2s;
    font-size: 0.8em;
    font-weight: 900;
    height: fit-content;
    width: fit-content;
    opacity: 0;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: 0.3s;
}

main>section:first-of-type a:first-of-type {
    background-color: var(--white);
    color: var(--black);
    grid-row: 3 / 4;
    grid-column: 1/2;
}

main>section:first-of-type a:nth-of-type(2) {
    background-color: var(--transparent-btn-color);
    color: var(--white);
    grid-row: 3 / 4;
    grid-column: 2/3;
}


/***********************************/
/* ----- FORM SECTION (2 & 8) ------ */
/*********************************/
main>section:is(:nth-of-type(2), :nth-of-type(8)) {

    padding: 0 1em;

    & form {
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        width: 100%;
        max-width: 35em;
        padding: 1.5em 1em;
        border: 0.15em solid var(--border-color);
        border-radius: 0.6em;
        opacity: 0;
        animation: fadeUp .8s ease-out forwards;
        animation-delay: 0.45s;

        & p {
            margin-bottom: 2.4em;
            max-width: 13em;
        }
    }

    & svg {
        align-self: flex-start;
    }


    & fieldset {
        border: 0;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }



    & input,
    textarea {
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: .5rem;
        padding: .6em 1em;
        font-size: 1rem;
        font-family: inherit;
        background: var(--input-color);
        box-sizing: border-box;
        margin-bottom: 0.8em;
    }

    & textarea {
        min-height: 140px;
        resize: vertical;
    }

    & input[type="submit"] {
        background: var(--white);
        color: var(--black);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.6em 0.9em;
        border-radius: 2em;
        transition: background 0.2s;
        font-size: 0.8em;
        font-weight: 900;
        height: fit-content;
        width: fit-content;
    }

    & p:last-child {
        text-align: center;
        font-size: 0.75em;
        margin-top: 1em;
    }
}


/***********************************/
/* ----- USP SECTION (3) ------ */
/*********************************/
main>section:nth-of-type(3) {
    padding: 5em 0em;
}

main>section:nth-of-type(3) ul {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

main>section:nth-of-type(3) ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 12em;
    gap: 0.6em
}


main>section:nth-of-type(3) ul li:nth-of-type(3)>svg {
    width: 8em;
}

main>section:nth-of-type(3) ul li svg path {
    fill: var(--white);
}

main>section:nth-of-type(3) ul li:last-of-type {
    max-width: 10em
}

main>section:nth-of-type(3) ul li p {
    font-size: 1.2em;
    text-align: center;
}

main>section:nth-of-type(3) ul li p em {
    color: var(--white);
    font-style: normal;

}



/***********************************/
/* ----- INFO SECTION (4) ------ */
/*********************************/
main>section:nth-of-type(4) {
    padding: 0 1em 7em 1em;
    display: flex;
    flex-direction: column;
    gap: 3.5em;

    & article {
        /* background-color: lightgreen; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & img {
            width: 100%;
            border-radius: 0.6em;
            border: solid 1px var(--border-color);
        }

        & h3 {
            font-size: 1em;
            max-width: 16em;

        }

        & p {
            max-width: 20em;
        }

        & a {
            padding: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 0.3em;
            color: var(--white);
            font-size: 1.1em;
            margin: 1.2em 0em;

            & svg {
                width: 0.9em;
            }
        }
    }
}



/***********************************/
/* ----- INFO CARDS SECTION (5) ------ */
/*********************************/

main>section:nth-of-type(5) {
    /* background-color: #0066cc; */
    padding: 1em 1em 7em 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;


    & h2 {
        text-align: center;
        align-self: center;
        font-size: 1.5em;
        width: 75%;
    }

    & ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.6em;
        max-width: 1200px;

        & li {
            position: relative;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: 12px;

            --card-position: translateY(110%);
            --h3-position: translate(10px);
            --card-opacity: 1;
            --h3-opacity: 0;
            --link-opacity: 0;
            --p-opacity: 1;
            --link-position: translateY(10px);
            --position-icon: translate(0);
            --scale-icon: 1;
            --svg-color: var(--white);

            & input {
                display: none;
            }

            & label {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1em;
                width: 100%;
                height: 100%;
                transition: transform 0.2s;
            }


            & label:hover {
                transform: scale(1.05);
            }


            & label svg {
                width: 2em;
                height: 2em;
                transform: var(--position-icon);
                scale: var(--scale-icon);
                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

            }

            & label svg path {
                fill: var(--svg-color);
                z-index: 99;
            }

            & label p {
                font-size: 1em;
                opacity: var(--p-opacity);
            }


            & article:nth-of-type(1),
            article:nth-of-type(2) {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                overflow: hidden;
            }

            & article:nth-of-type(1) {
                border: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                transition: opacity 0.3s ease;
                opacity: var(--card-opacity);
            }


            & article:nth-of-type(2) {
                background: var(--white);
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 0.5em;
                z-index: 2;
                transform: var(--card-position);
                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            & article:nth-of-type(2) h3 {
                color: var(--black);
                width: 90%;
                font-size: 0.8em;
                opacity: var(--h3-opacity);
                transform: var(--h3-position);
                transition: opacity 0.3s ease, transform 0.5s ease;
            }

            & article:nth-of-type(2) a {
                color: grey;
                text-decoration: none;
                font-size: 0.6em;
                font-weight: 500;
                display: inline-flex;
                align-items: center;
                opacity: var(--link-opacity);
                transform: var(--link-position);
                transition: opacity 0.3s ease, transform 0.5s ease;
            }
        }
    }

}

li:has(input:checked) article:nth-of-type(1) p {
    /* --card-opacity: 0; */
    --p-opacity: 0;
}

li:has(input:checked) article:nth-of-type(2) {
    --card-position: translateY(0);
}

li:has(input:checked) article:nth-of-type(2) h3 {
    --h3-position: translateY(0px);
    --h3-opacity: 1;
}

li:has(input:checked) article:nth-of-type(2) a {
    --link-opacity: 1;
    --link-position: translateY(0);
}

li:has(input:checked) article:nth-of-type(1) svg {
    --position-icon: translate(-8em, -6em);
    --scale-icon: 0.6;
}

li:has(input:checked) article:nth-of-type(1) svg path {
    --svg-color: var(--black);
}



/***********************************/
/* ----- AUTOMATIC CAROUSEL (6) ---- */
/*********************************/



@layer basis {

    main>section:nth-of-type(6) {
        padding-bottom: 3em;
        display: flex;
        flex-direction: column;

        & h4 {
            align-self: center;
            text-align: center;
            font-weight: 100;
        }

        & p {
            align-self: center;
            text-align: center;
            width: 90%;
            padding-bottom: 2em;
        }
    }


    main>section:nth-of-type(6) ul {
        margin: 0;
        padding: 0;
        list-style-type: "";
    }

    main>section:nth-of-type(6) a {
        width: 100%;
        height: 100%;
    }

    main>section:nth-of-type(6) img {
        width: 100%;
        height: 100%;
        transition: .5s;
        object-fit: cover;
        border-radius: 0.3em;
    }

    /* als de li niet ge-snapt-is de img veranderen */


    main>section:nth-of-type(6) img:hover {
        opacity: 0.3;
    }


    main>section:nth-of-type(6) li {
        aspect-ratio: 1 / 1;
        border-radius: 0.6em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.6em;
        background-color: var(--blue-color);

        &:nth-of-type(2) {
            background-color: var(--bright-orange-color);
        }

        &:nth-of-type(3) {
            background-color: var(--taupe-color);
        }

        &:nth-of-type(4) {
            background-color: var(--framer-text-color);
        }

        &:nth-of-type(5) {
            background-color: var(--green-color);
        }

        &:nth-of-type(6) {
            background-color: var(--orange-light-color);
        }

        &:nth-of-type(7) {
            background-color: var(--yellow-color);
        }
          &:nth-of-type(8) {
            background-color: var(--orange-color);
        }
    }
}



/* 1. BASIC SCROLLEN MET FLEXBOX */


main>section:nth-of-type(6) ul {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* zodat je niet per ongeluk 'back' scrollt */
    overscroll-behavior-x: contain;

    gap: 1em;


}


main>section:nth-of-type(6) ul li {
    flex-shrink: 0;
    flex-basis: min(67%, 48em);
    scroll-snap-align: center;
}




/* 2. PREV/NEXT BUTTONS */

main>section:nth-of-type(6) ul::scroll-button(*) {
    /* styling voor de buttons */
    width: 2em;
    aspect-ratio: 1;
    margin: 1em 0 0;
    padding: 0;

    background-color: canvas;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    font-size: 1em;
    position: absolute;
    transform: translateY(-10em);


}

main>section:nth-of-type(6) ul::scroll-button(right) {
    /* eerst wat je ziet / dan wat je hoort */
    content: '→' / 'Next';
    /* ruimte van de rechterkant */
    right: clamp(1.5rem, 5vw, 2rem);
}

main>section:nth-of-type(6) ul::scroll-button(left) {
    content: '←' / 'Previous';
    left: clamp(1.5rem, 5vw, 2rem);
}

main>section:nth-of-type(6) ul::scroll-button(*):disabled {
    opacity: .5;
}

main>section:nth-of-type(6) ul::scroll-button(*) {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

/* als je over de karousel gaat → zichtbaar */
main>section:nth-of-type(6) ul:hover::scroll-button(*) {
    opacity: 1;
    pointer-events: auto;
}




/* 3. BOLLETJES */

@media (width > 30em) {
    main>section:nth-of-type(6) ul {
        /* geen scrollbar */
        scrollbar-width: none;

        /* de wrapper voor de bolletjes aanzetten */
        scroll-marker-group: after;
    }
}



/* 4. GE-SNAP-T (BONUS) */

/* developer.chrome.com/blog/css-scroll-state-queries#snapped */

li {
    /* de li's zijn 67% van de ul breed maar niet breder dan 48em */
    flex-basis: min(67%, 48em);

    /* om te tracken of de li ge-snapt-is */
    container-type: scroll-state;
}

/* als de li ge-snapt-is de h2 veranderen */
main>section:nth-of-type(6) h2 {
    transition: .5s;

    @container scroll-state(snapped: x) {
        background-color: #f09c;
        color: #fff;
    }
}








/***********************************/
/* ----- Ticker SECTION (7) ------ */
/*********************************/
main>section:nth-of-type(7) {
    padding: 7em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1.3em;

    /* &:before,
    &:after {
        position: absolute;
        top: 0;
        width: 16em;
        height: 100%;
        content: "";
        z-index: 2;
    } */

    & h2 {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 0.9em;
        text-align: center;
        line-height: 150%;
    }

    & p {
        text-align: center;
        width: 65%;
    }

    & ul:nth-of-type(1) {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        animation: 35s slide infinite linear;
        gap: 1em;
    }

    & ul:nth-of-type(1) li {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
}


@keyframes slide {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(-100%);
    }
}

main>section:nth-of-type(7):before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0)40%, var(--black));
}

main>section:nth-of-type(7):after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)40%, var(--black)95%);
}




/***********************************/
/* ----- REVIEWS SECTION (7) ------ */
/*********************************/
main>article {

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em;
    gap: 2em;
    position: relative;
    margin: 10em 0 15em 0;

    &::before {

        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0)50%, var(--black));
        content: "";
        position: absolute;
        /* vergeet position niet */
        top: 0;
        bottom: 0;
        width: 100%;
        /* voorbeeld */
        z-index: 10;
    }

    &>p {

        text-align: center;
        width: 85%;

        & em {
            font-style: normal;
            color: var(--white);

        }
    }

    & ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .6em;
        position: relative;

        &::before {
            left: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 0)98%, var(--black));
            content: "";
            position: absolute;
            /* vergeet position niet */
            top: 0;
            bottom: 0;
            width: 300%;
            /* voorbeeld */
        }

        &::after {
            right: 0;
            background: linear-gradient(to right, rgba(244, 21, 21, 0) 80%, var(--black) 100%);
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 300%;
            /* voorbeeld */
        }
    }


    & li {
        display: grid;
        grid-template-rows: repeat(4, max-content);
        grid-template-columns: repeat(5, max-content) 1fr;
        border: 1px solid var(--border-color);
        border-radius: .5rem;
        column-gap: 0.1em;
        width: 16.25em;
        padding: 1em;


        & p {
            text-align: left;
        }

        & p:nth-of-type(1) {
            grid-row: 1/2;
            grid-column: 1/7;
            color: var(--white);
        }

        & p:nth-of-type(2) {
            grid-row: 2/3;
            grid-column: 1/7;
            color: var(--framer-text-color);
            font-size: 0.8em;
            margin-bottom: 1em;
        }

        & p:nth-of-type(3) {
            grid-row: 3/4;
            grid-column: 1/7;
            margin-bottom: 1em;
            font-size: 0.8em;
            color: var(--white);
        }

        & img {
            width: 1.1em;
            grid-row: 4/5;

        }

        & img:nth-of-type(1) {
            grid-column: 1/2;
        }

        & img:nth-of-type(2) {
            grid-column: 2/3;
        }

        & img:nth-of-type(3) {
            grid-column: 3/4;
        }

        & img:nth-of-type(4) {
            grid-column: 4/5;
        }

        & img:nth-of-type(5) {
            grid-column: 5/6;
        }





    }

}


/***********************************/
/* ----- FORM SECTION (8) ------ */
/*********************************/
/* main>section:nth-of-type(8) {} */

/***********************************/
/* ----- USP SECTION (9) ------ */
/*********************************/
main>section:nth-of-type(9) {

    padding: 1em;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        & li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2em 6em;
            gap: 0.2em;
            border: solid 1px var(--border-color);
            border-radius: 0.6em;

            & h3 {
                order: 2;
                font-size: 1.1em;
            }

            & p {
                text-align: center;
                order: 3;
            }

            & svg {
                order: 1;
                margin-bottom: 1em;
                width: 1.2em;

                & path {
                    fill: var(--white);
                }
            }



        }
    }


}