/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}




/*******************/
/* --- FONTS ----- */
/**************** **/

@font-face {
  font-family: "GT-Walsheim-Light";
  src: url("../assets/fonts/GT-Walsheim-Light.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Walsheim-Thin";
  src: url("../assets/fonts/GT-Walsheim-Light.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Walsheim-Regular";
  src: url("../assets/fonts/GT-Walsheim-Light.woff2") format("woff2");
}


@font-face {
  font-family: "GT-Walsheim-Medium";
  src: url("../assets/fonts/gt-walsheim.woff2") format("woff2");
  font-weight: 400;
}


@font-face {
  font-family: "Inter-Variabele";
  src: url("../assets/fonts/inter-variabele.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}


@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/inter-medium.woff2") format("woff2");
  font-weight: 400;
  font-style: medium;
}

@font-face {
  font-family: "Inter-Semibold";
  src: url("../assets/fonts/inter-semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: semi-bold;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/inter-bold.woff2") format("woff2");
  font-weight: 400;
  font-style: bold;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

  --white: #000;
  --black: #fff;
  --nav-color: #ffffffe1;
  --trans-btn-color: #00000080;
  --always-white-color: #fff;


  --framer-text-color: #5c5c5c;
  --framer-link-text-color: #09f;
  --border-color: #6969691f;
  --input-color: #ffffff0b;


  --pink-color: #f28fff;
  --red-color: #ff0000;
  --bright-orange-color: #fb3f00;
  --aqua-color: #30aadf;
  --turqoise-color: #47c5d1;
  --lime-green-color: #a3e515;
  --orange-color: #f78c09;
  --purple-color: #5700ff;
  --blue-color: #0005ff;
  --orange-light-color: #ffa321;
  --yellow-green-color: #c2d103;
  --red-orange-color: #fc552c;
  --taupe-color: #877350;
  --green-color: #057c4a;
  --yellow-color: #ffca1c;

}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #fff;
    --black: #000;
    --nav-color: #000000e1;
    --trans-btn-color: rgba(255, 255, 255, 0.096);
  }
}



/*******************/
/* --- GENERAL --- */
/*******************/

body {
  font-family: 'GT-Walsheim-Medium';
  background-color: var(--black);
  font-feature-settings: "salt";

}


main>section svg {
  height: 1.5em;

}

h1,
h2,

h4,
h5,
h6 {
  color: var(--white);

}


h1 {
  font-size: 41px;
  width: fit-content;
  text-align: center;
  width: 100%;
  max-width: 300px;
  font-weight: 200;
}

h3 {
  font-family: "Inter-Variabele";
}

h2 {
  font-weight: 200;
  font-size: 2em;
  line-height: 1em;
  max-width: 300px;
  text-align: left;
  letter-spacing: -0.6px;
}

li {
  text-decoration: none;
}

p {
  color: var(--framer-text-color);
  font-family: "Inter-Variabele";

}

label {
  color: var(--framer-text-color);
  font-family: "Inter-Variabele";
  font-weight: 100;
  font-size: 0.8em;
}

legend {
  color: var(--white);
  font-family: "Inter-Variabele";
  font-weight: 100;
  font-size: 1.2em;
  padding: 0;
}


input::placeholder,
textarea::placeholder {
  color: var(--framer-text-color);
  font-family: "Inter-Variabele";
  font-weight: 100;
  font-size: 0.8em;
}


/* styling van de slider zelf */
input[type="range"] {
  -webkit-appearance: none;

  height: 4px;
  background: var(--white);
  border-radius: 2px;
  outline: none;
}

/* chrome / safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--framer-link-text-color);
  cursor: pointer;
}




a {
  font-family: "Inter-Variabele";
  font-size: 0.90em;
  text-decoration: none;
}

.hidden {
  display: none;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*******************/
/* ----- NAV ------ */
/*******************/

body header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: var(--nav-color);
  /* backdrop-filter: blur(5px); */

}



body header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--black);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.3s ease;
  /* transform + fade */
  padding: 5em 1.5em
}

body header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}


body header nav ul li:not(:last-child) a {
  /* stijlen hier */
  color: var(--framer-text-color);
  font-family: "Inter-Variabele";
  font-weight: 100;
  font-size: 1em;
}



nav.toonMenu {
  /* JOUW CODE HIER - stap 4 */
  transform: translateX(0);
  opacity: 1;

}



body header button {
  width: 2.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 21;
  gap: 0.6em;
  transform-origin: center;
  /* draai rond het midden */
}

body header button div {
  height: 2px;
  width: 2em;
  background-color: var(--white);
  border-radius: 1em;
  transition: transform 0.3s ease;
  /* animatie */
}




header a,
footer>a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  height: 100%;
  font-family: Inter;
  font-weight: 600;
  z-index: 21;
}

body header a,
footer>a {
  color: var(--white);
}

body header a svg,
footer a svg {
  width: 30px;
  height: 100%;
}

body header a svg path,
footer a svg path {
  fill: var(--white);
}




/******************************************/
/* ---------  --- FOOTER --- ------------ */
/******************************************/


footer {
  /* background-color: palevioletred; */
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, max-content);
  row-gap: 3em;
  column-gap: 2em;
}

footer p {
  justify-self: end;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul:nth-of-type(5) {
  grid-row: 4/6;
}

footer ul:nth-of-type(8),
footer ul:nth-of-type(9) {
  background-color: #30aadf;
  display: flex;
  grid-column: 1/3;
  justify-self: center;
}

footer ul li {
  text-decoration: none;
  color: var(--white);
  margin-bottom: 1em;
  font-size: 1em;
}

footer ul li a {
  color: var(--btn-color);
  font-size: 1em;
}