/***********************************/
/* ----- HERO SECTION (1) ------ */
/*********************************/

main>section:first-of-type {
  padding: 5em 0 3.5em 0;
  background-image: url("/assets/images/Framer-hero-bg.avif");
  background-size: cover;
  /* vult de hele div */
  background-repeat: no-repeat;
  background-position: center top;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
}

main>section:first-of-type div {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5em;
  animation: fadeUp .8s ease-out forwards;
    animation-delay: .3s;
      opacity: 0;
}


main>section:first-of-type a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.9em;
  border-radius: 2em;
  transition: background 0.2s;
  font-size: 0.8em;
  font-weight: 900;

}

main>section:first-of-type a:first-of-type {
  background-color: var(--white);
  color: var(--black);
}

main>section:first-of-type a:nth-of-type(2) {
  background-color: var(--trans-btn-color);
  color: var(--white);
}

main>section:first-of-type img {
  margin-top: 2em;
  width: 100vw;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: .45s;
      opacity: 0;
}

main>section:first-of-type p {
  width: 100%;
  max-width: 15em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1em;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: .15s;
      opacity: 0;
}

h1 {
  opacity: 0;
  animation: fadeUp .8s ease-out forwards;
}


@media (prefers-color-scheme: light) {
 main>section:first-of-type {
 background-color: var(--black);
 background-image: none;
}
  }



/***********************************/
/* ----- TICKER SECTION (2) ------ */
/*********************************/
/* SOURCE USED: https://www.youtube.com/watch?v=nAjR0Oj0J8E */

main>section:nth-of-type(2) {
  /* background-color: blueviolet; */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

main>section:nth-of-type(2):before,
main>section:nth-of-type(2):after {
  position: absolute;
  top: 0;
  width: 16em;
  height: 100%;
  content: "";
  z-index: 2;
}

main>section:nth-of-type(2):before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0)40%, var(--black));
}

main>section:nth-of-type(2):after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0)40%, var(--black)95%);
}

main>section:nth-of-type(2) ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  animation: 35s slide infinite linear;
  gap: 1em;
}

main>section:nth-of-type(2) ul li {
   display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

@keyframes slide {
  from {
    transform: translateX(0);

  }

  to {
    transform: translateX(-100%);
  }
}



/***********************************/
/* ----- CAROUSEL SECTION (3) ---- */
/*********************************/

/***  algemene styling  ***/

@layer basis {
  main>section:nth-of-type(3) {
    padding: 1.3em;
  }

  main>section:nth-of-type(3) h2 {
    padding: 1em 0;
    width: 100%;
    max-width: 10em;

  }

  main>section:nth-of-type(3) ul {
    margin: 0;
    padding: 0;
    list-style-type: "";
    container-type: inline-size;
  }

  main>section:nth-of-type(3) li {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/images/carousel-bg.jpg");
    background-size: cover;
    border-radius: 0.7em;
    gap: 0.5em;
    padding: 6% 0em 0em 5%;
    overflow: hidden;
    border: 1px solid var(--framer-text-color);
  }

  main>section:nth-of-type(3) li h3 {
    order: 2;
    font-size: 1.2em;
    max-width: 13em;
    color: var(--always-white-color);
  }

  main>section:nth-of-type(3) li p {
    order: 1;
    text-align: left;
    font-size: 0.9em;

  }

  main>section:nth-of-type(3) li a {
    order: 3;
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
    padding: 0;
    color: var(--framer-text-color);
    font-size: 1.5em;
  }


  main>section:nth-of-type(3) li a .hidden {
    display: none;
  }


  main>section:nth-of-type(3) img {
    order: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.8px solid var(--border-color);
    border-radius: 0.6em 0 0 0;
    translate: 0em 1.4em;

  }
}


/* 1. BASIC SCROLLEN MET FLEXBOX */

main>section:nth-of-type(3) ul {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  gap: 3em;
  scrollbar-width: thin;
  scrollbar-color: var(--framer-text-color);
}

main>section:nth-of-type(3) li {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

/************************/
/* 2. PREV/NEXT BUTTONS */
/************************/

main>section:nth-of-type(3) ul::scroll-button(*) {
  /* styling voor de buttons */
  width: 2em;
  aspect-ratio: 1;
  margin: 1em 0 0;
  padding: 0;
  background-color: canvas;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  font-size: 1em;
  /* om de buttons te positioneren tov de lijst */
  position: absolute;
}

main>section:nth-of-type(3) ul::scroll-button(right) {
  /* eerst wat je ziet / dan wat je hoort */
  content: '→' / 'Next';
  /* ruimte van de rechterkant */
  right: clamp(1.5rem, 5vw, 2rem);
}

main>section:nth-of-type(3) ul::scroll-button(left) {
  content: '←' / 'Previous';
  right: clamp(1rem, 10vw, 5rem);
}

main>section:nth-of-type(3) ul::scroll-button(*):disabled {
  opacity: .5;
}

@media (max-width: 768px) {
  main>section:nth-of-type(3) ul::scroll-button(*) {
    visibility: hidden;
  }

}

/****************/
/* 3. TEKST BTNS */
/****************/

main>section:nth-of-type(3) ul {
  /* geen scrollbar */
  scrollbar-width: none;
  /* de wrapper voor de bolletjes aanzetten */
  scroll-marker-group: after;
}

main>section:nth-of-type(3) ul::scroll-marker-group {
  height: 3em;
  /* beetje witruimte aan de bovenkant en zijkanten */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: .7em;
}

main>section:nth-of-type(3) li::scroll-marker {
  content: attr(data-label);
  font-family: "Inter-Variabele";
  ;
  border-radius: 1em;
  font-size: .8em;
  white-space: nowrap;
  transition: .25s;
  text-decoration: none;
  color: var(--framer-text-color);
}

main>section:nth-of-type(3) li::scroll-marker:target-current {
  color: var(--white);
}


/************************/
/* 4. GE-SNAP-T (BONUS) */
/************************/
/************************

/* VRAAG: waarom werkt img wel maar Li niet? */
@media (width > 56em) {
  li {
    flex-basis: min(67%, 48em);
    container-type: scroll-state;
    opacity: 1;
  }

  img {
    transition: .5s;
  }

  /* 📌 Niet-gecentreerde items */
  /* @container not scroll-state(snapped: x) {
    li {
      opacity: 0.5;
    }
  } */

  /* 📌 Het item dat WEL gecentreerd is */
  /* @container scroll-state(snapped: x) {
    li {
      opacity: 1;

    }
  } */
}

/***********************************/
/* ----- VIDOE SECTION (4) ---- */
/*********************************/

main>section:nth-of-type(4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr max-content max-content 2em;
  gap: 0.2em;
  margin-top: 5em;

}

main>section:nth-of-type(4) h2 {
  grid-column: span 2;
  justify-self: center;
  text-align: center;
  padding-bottom: 1em;
}

main>section:nth-of-type(4) h3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
  justify-self: center;
  max-width: 8em;
  text-align: center;
  font-size: 1.5em;
  color: var(--always-white-color);

}

main>section:nth-of-type(4) img {
  width: 100%;
  height: 22em;
  object-fit: cover;

  grid-row-start: 2;
  grid-row-end: 6;

  grid-column-start: 1;
  grid-column-end: 3;
}


main>section:nth-of-type(4) a {
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.9em;
  border-radius: 2em;
  transition: background 0.2s;
  font-size: 0.8em;
  font-weight: 900;
  margin-top: 0.6em;
}

main>section:nth-of-type(4) a:nth-of-type(1) {
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 1;
  grid-column-end: 2;

  justify-self: end;

  background-color: var(--white);
  color: var(--black);
  margin-right: 0.3em;

}

main>section:nth-of-type(4) a:nth-of-type(2) {
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 2;
  grid-column-end: 3;

  justify-self: start;

  background-color: var(--trans-btn-color);
  color: var(--always-white-color);
  margin-left: 0.3em;
}


main>section:nth-of-type(4) a:nth-of-type(3) {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  font-size: 0.5em;
 color: var(--always-white-color);
  align-self: end;
  justify-self: center;

  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 3;

}

main>section:nth-of-type(4) a:nth-of-type(3) span {

  font-family: "Inter";
  font-weight: 900;
}



main>section:nth-of-type(4) a:nth-of-type(3) img {
  width: 1.3em;
  height: 1.3em;
}

/***********************************/
/* ----- GRID SECTION (5) ---- */
/*********************************/

main>section:nth-of-type(5) {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  justify-content: center;
  padding: 1.5em;
  margin-top: 4em;
}

main>section:nth-of-type(5) a {
  order: 3;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  padding: 0;
  color: var(--white);
  align-self: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Inter-Variabele";
}


main>section:nth-of-type(5) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.75em;
  width: 100%;
  padding: 0;
}

main>section:nth-of-type(5) li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6em;
  padding: 0.35em;
}

main>section:nth-of-type(5) li:nth-of-type(1) {
  grid-column: span 2 / span 2;
  background-color: var(--turqoise-color);

}

main>section:nth-of-type(5) li:nth-of-type(2) {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  background-color: var(--red-color);

}

main>section:nth-of-type(5) li:nth-of-type(3) {
  grid-row-start: 2;
  background-color: var(--pink-color);
}

main>section:nth-of-type(5) li:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 3;
  background-color: var(--turqoise-color);

}

main>section:nth-of-type(5) li:nth-of-type(5) {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
  background-color: var(--orange-color);

}

main>section:nth-of-type(5) li:nth-of-type(6) {
  display: none;
  background-color: var(--aqua-color);

}

main>section:nth-of-type(5) ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.6em;
  background-color: var(--aqua-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


/**************************************/
/* ----- PLUGIN GRID SECTION (6) ---- */
/**************************************/

main>section:nth-of-type(6) {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  justify-content: center;
  padding: 1.5em;
  margin-top: 4em;
}

main>section:nth-of-type(6) ul:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 11em);
  gap: 0.75em;
  width: 100%;
  padding: 0;
}

main>section:nth-of-type(6) ul:first-of-type>li {
  padding: 0.7em 0 0 0.7em;
  border-radius: 0.6em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2.5fr 1fr;
  gap: 0.8em;
  height: auto;
  position: relative;
  overflow: hidden;
}

main>section:nth-of-type(6) ul:first-of-type>li p {
  color: var(--always-white-color);
}

main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(1) {
  grid-column: span 2 / span 2;
  background-color: var(--purple-color);
}

main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(2) {
  background-color: var(--blue-color);
}

main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(3) {
  background-color: var(--orange-color);
}

main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(4) {
  background-color: var(--lime-green-color);
}

main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(5) {
  background-color: var(--red-orange-color);
}


main>section:nth-of-type(6) ul:first-of-type>li::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
}

main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(1)::after {
  background: linear-gradient(to bottom,
      rgba(233, 39, 39, 0) 20%,
      var(--purple-color) 80%,
      var(--purple-color) 100%);
}


main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(2)::after {
  background: linear-gradient(to bottom,
      rgba(233, 39, 39, 0) 20%,
      var(--blue-color) 80%,
      var(--blue-color) 100%);
}


main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(3)::after {
  background: linear-gradient(to bottom,
      rgba(233, 39, 39, 0) 20%,
      var(--orange-color) 80%,
      var(--orange-color) 100%);
}



main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(4)::after {
  background: linear-gradient(to bottom,
      rgba(233, 39, 39, 0) 20%,
      var(--lime-green-color) 90%,
      var(--lime-green-color) 100%);
}



main>section:nth-of-type(6) ul:first-of-type>li:nth-of-type(5)::after {
  background: linear-gradient(to bottom,
      rgba(233, 39, 39, 0) 20%,
      var(--red-orange-color) 80%,
      var(--red-orange-color) 100%);
}




main>section:nth-of-type(6) ul:first-of-type>li svg {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  align-self: end;
  padding-left: 1em;
  z-index: 3;
}


main>section:nth-of-type(6) ul:first-of-type p {
  font-size: 0.9em;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 1em;
  z-index: 3;
}


main>section:nth-of-type(6) ul:first-of-type li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 5px;
  background-color: var(--aqua-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);


  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

}

main>section:nth-of-type(6)>a:last-of-type {
  order: 3;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  padding: 0;
  color: var(--white);
  align-self: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Inter-Variabele";
}

/* SECOND PART OF THE SECTION */
main>section:nth-of-type(6) ul:nth-of-type(2) {
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 2em;
  flex-wrap: wrap;
  margin-top: 0.em;
  overflow: hidden;
  
}


main>section:nth-of-type(6) ul:nth-of-type(2)>li {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.3em;
  column-gap: 0.6em;
  padding: 0;

}

main>section:nth-of-type(6) ul:nth-of-type(2)>li a:first-of-type {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 2.5em;
  aspect-ratio: 1;

}

main>section:nth-of-type(6) ul:nth-of-type(2) li a:first-of-type img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.6em;
}


main>section:nth-of-type(6) ul:nth-of-type(2) li a:nth-of-type(2) {
  color:var(--white);
  height: 0.9em;
  align-self: end;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

   width: 100%;
}

main>section:nth-of-type(6) ul:nth-of-type(2) li p {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 0.9em;
  height: 1em;
  width: 90%;

}


/**************************************/
/* ---------  CTA SECTION (8) ------- */
/**************************************/

main>section:nth-of-type(8) {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content max-content max-content;
  gap: 1em;
  position: relative;
  justify-items: center;
  padding-bottom: 7em;
}


main>section:nth-of-type(8) h2 {
  grid-row: 2 / 3;
  text-align: center;
  grid-column: 1/1;
  z-index: 10;
}

main>section:nth-of-type(8) p {
  grid-row: 3 / 4;
  text-align: center;
  max-width: 17em;
  font-size: 1.2em;
  line-height: 1.4em;
}


main>section:nth-of-type(8) a {
  grid-row: 4 / 5;
  grid-column: 1/1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.9em;
  border-radius: 2em;
  transition: background 0.2s;
  font-size: 0.8em;
  font-weight: 900;
  color: var(--black);
  background-color: var(--white);

}

main>section:nth-of-type(8) div {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/1;
  z-index: 1;
}

main>section:nth-of-type(8) div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle,
      rgba(0, 0, 0, 0) 10%,
      var(--black) 55%,
      var(--black) 100%);
  pointer-events: none;
  z-index: 10;
}

main>section:nth-of-type(8) div img {
  height: 100%;
  width: 100%;
}