/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
}




/*******************/
/* --- FONTS ----- */
/**************** **/
@font-face {
  font-family: "Inter-Semibold";
  src: url("../assets/fonts/inter-semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: semi-bold;
}

@font-face {
  font-family: "GT-Walsheim-Medium";
  src: url("../assets/fonts/gt-walsheim.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT-Walsheim-Medium-Test";
  src: url("../assets/fonts/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.woff2") format("woff2");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/inter-medium.woff2") format("woff2");
  font-weight: 400;
  font-style: medium;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/inter-bold.woff2") format("woff2");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: "Inter-Variabele";
  src: url("../assets/fonts/inter-variabele.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --white: #fff;
  --black: #000; 
  --framer-text-color: rgba(255, 255, 255, 0.6);

  --framer-link-text-color: #09f;

  --pink-color: #f28fff;
  --red-color: #ff0000;
  --aqua-color: #30aadf;
  --lime-green-color: #baff21;
  --orange-color: #e28a1d;
  --purple-color: #5700ff;
  --blue-color: #0005ff;
  --orange-light-color: #ffa321;
  --yellow-green-color: #c2d103;
  --red-orange-color: #fc552c;
}

/*******************/
/* --- GENERAL --- */
/*******************/

body {
	font-family: 'GT-Walsheim-Medium-Test';
	background-color: var(--black);
}

main {
	display: flex;
	flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--white);
		font-size: 41px
}

h1 {
	font-size: 40px;
	width: fit-content;
	font-weight:300;
	letter-spacing: -2px;
}

p {
	color: var(--framer-text-color);
}

img {
	width: 100vw;
}


